html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  color: #270201;
  background-color: #fcf9fc;
}

.bold {
  font-weight: 700;
}

/* HEADER ************* */
.logo {
  width: 100px;
  margin: 10px auto;
  display: block;
}

.intro__item--img {
  border-bottom: 1px solid rgba(219, 5, 5, 0.795);
  width: 70%;
  margin: 0 auto;
}

/* navigation */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 18px;
  margin: 10px auto;
}
.menu__item {
  list-style-type: none;
  letter-spacing: 1px;
  padding: 10px;
  flex: 0 0 50%;
}
.menu__item--last {
  flex: 0 0 100%;
  text-align: center;
}
.menu__item a {
  text-decoration: none;
  color: #270201;
  padding: 10px;
  border-radius: 50px;
}
.menu__item a:hover, .menu__item a:focus, .menu__item a:active {
  background-color: rgba(219, 5, 5, 0.795);
  color: #fcf9fc;
  transition: all 0.5s;
}

.heading {
  font-size: 32px;
  text-align: center;
  letter-spacing: 1.5px;
}
.heading::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 2px;
  background-color: rgba(219, 5, 5, 0.795);
}

.news,
.products {
  text-align: center;
  padding: 15px;
  max-width: 940px;
  margin: 0 auto;
}

.product-news {
  color: #270201;
}

.fab {
  color: #270201;
  font-size: 20px;
}

.fig {
  width: 300px;
  height: 300px;
  border: 1px solid #270201;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(26, 25, 25, 0.603);
  margin: 30px auto 0px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.fig-1 {
  background-image: url(../img/kabelky.jpg);
}
.fig-2 {
  background-image: url(../img/batohy.jpg);
}
.fig-3 {
  background-image: url(../img/penezenky.jpg);
}
.fig-4 {
  background-image: url(../img/doplnky.jpg);
}
.fig:hover, .fig:focus, .fig:active {
  box-shadow: 10px 10px 20px gray;
}

.products__container figcaption {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.2px;
  margin-top: 0;
  text-transform: uppercase;
  color: #270201;
}

.item {
  text-decoration: none;
}

#about {
  margin-top: 30px;
}

.about-container,
.contact-container {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}
.about-container p,
.contact-container p {
  margin-bottom: 20px;
}
.about-container__item img,
.contact-container__item img {
  border-radius: 0px 50px 0px 50px;
  margin: 0px 10px 30px 30px;
}

.contact {
  margin: 40px auto 0 auto;
  max-width: 350px;
}

.contact__form {
  width: 330px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.row input {
  width: 80%;
  line-height: 2;
  padding: 2px;
}

.area {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 20px;
}
.area label {
  text-align: left;
  margin-bottom: 10px;
}
.area textarea {
  padding: 2px;
  font-size: 16px;
}

.contact__adress {
  text-align: left;
  margin-left: 10px;
}
.contact__adress li {
  list-style-type: none;
}
.contact__adress address {
  margin-bottom: 20px;
}

.btn {
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #fcf9fc;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgba(219, 5, 5, 0.795);
  border-radius: 50px;
}
.btn--product {
  font-size: 16px;
  text-decoration: none;
  display: block;
  width: 300px;
}
.btn--product:active, .btn--product:hover, .btn--product:focus {
  background-color: #db0505;
}

.kabelky,
.batohy,
.penezenky,
.doplnky {
  padding: 20px;
  text-align: center;
  max-width: 840px;
  margin: 0 auto;
}
.kabelky h3,
.batohy h3,
.penezenky h3,
.doplnky h3 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #270201;
}

.patern {
  margin: 30px;
  list-style-type: none;
  line-height: 1.9;
}
.patern h4 {
  font-size: 22px;
}
.patern li a {
  color: #270201;
  padding: 5px;
}
.patern li a:hover, .patern li a:focus, .patern li a:active {
  background-color: rgba(219, 5, 5, 0.795);
  color: #fcf9fc;
  border-radius: 50px;
  transition: all 0.5s;
}

.box {
  width: 300px;
  margin: 30px auto 0 auto;
}

.box-img {
  width: 300px;
  height: 300px;
  border: 1px solid #270201;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(26, 25, 25, 0.603);
  margin: 5px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.box-img--1 {
  background-image: url(../img/kab-vel.jpg);
}
.box-img--2 {
  background-image: url(../img/kab-str.jpg);
}
.box-img--3 {
  background-image: url(../img/kab-solagel.jpg);
  background-position: bottom;
}
.box-img--4 {
  background-image: url(../img/kab-maisie.jpg);
}
.box-img--5 {
  background-image: url(../img/kab-anabel.jpg);
}
.box-img--6 {
  background-image: url(../img/kab-aktovka.jpg);
  background-position: left;
}
.box-img--bat1 {
  background-image: url(../img/bat1.jpg);
}
.box-img--bat2 {
  background-image: url(../img/bat2.jpg);
}
.box-img--bat3 {
  background-image: url(../img/bat3.jpg);
}
.box-img--bat4 {
  background-image: url(../img/bat4.jpg);
}
.box-img--pe1 {
  background-image: url(../img/pen-xxl.jpg);
}
.box-img--pe2 {
  background-image: url(../img/pe-velka.jpg);
}
.box-img--do1 {
  background-image: url(../img/do1.jpg);
}
.box-img--do2 {
  background-image: url(../img/do2.jpg);
}

.gallery {
  line-height: 0;
  padding: 10px;
  -webkit-column-count: 1;
  -webkit-column-gap: 5px;
  -moz-column-count: 1;
  -moz-column-gap: 5px;
  column-count: 1;
  column-gap: 5px;
}
.gallery img {
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 200px;
  border: 1px solid rgba(219, 5, 5, 0.795);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 3px 3px 10px gray;
}

.fa-user-alt {
  border: 2px solid rgba(219, 5, 5, 0.795);
  padding: 15px;
  border-radius: 50%;
  font-size: 28px;
  margin: 5px;
}

.card__item .card-text {
  font-style: italic;
  margin-bottom: 0;
  margin-left: 10px;
}

.link-top {
  padding-right: 30px;
  display: block;
  text-align: end;
}

.link-top__a img {
  padding: 5px;
  border: 3px solid rgba(219, 5, 5, 0.795);
  border-radius: 10px;
  opacity: 0.5;
  transform: scale(0.8);
}

.link-top__a img:active,
.link-top__a img:hover,
.link-top__a img:focus {
  border: 3px solid rgba(219, 5, 5, 0.795);
  opacity: 1;
  transform: scale(1);
}

footer {
  margin-top: 40px;
  padding: 30px;
  background-color: rgba(219, 5, 5, 0.795);
  color: #fcf9fc;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
footer a {
  color: #fcf9fc;
}

@media screen and (min-width: 560px) {
  .menu__item {
    flex: 0 0 calc(100% / 3);
  }

  .fig {
    width: 400px;
    height: 400px;
  }

  .gallery {
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 650px) {
  .products__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }

  .products__container figcaption {
    font-size: 26px;
  }

  .item {
    flex: 0 0 calc(100% - 30px)/2;
  }

  .card-box {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 860px) {
  .menu {
    justify-content: center;
    width: 100%;
    font-size: 20px;
  }
  .menu__item {
    flex: 0 1 auto;
  }

  .about-container {
    max-width: 800px;
    margin: 0 auto;
  }

  .about-flex {
    display: flex;
    align-items: center;
  }

  .about {
    height: 100vh;
  }

  .contact-container {
    width: 840px;
    margin: 0 auto;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
  }

  .products-list {
    display: flex;
    flex-wrap: wrap;
  }

  .box__text {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .gallery {
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media screen and (min-width: 1040px) {
  .no-container {
    max-width: 1150px;
  }
}
@media screen and (min-width: 1400px) {
  .gallery {
    -moz-column-count: 4;
    column-count: 4;
    padding: 30px;
  }
}/*# sourceMappingURL=style.css.map */